* {
    margin: 0 0;
    padding: 0 0;
}

.wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
    padding: 20px 0 0 0;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 7px;
}

.text-container{
    margin: 4vh auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.text-content {
    font-family: Lato;
    color: #585858;
}

.text-content--title {
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 16px;
    padding-left: 16px;
    font-weight: 300;
}

.designation-container{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25vh;
}

.designation-text {
    font-family: Lato;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 12px;
    padding-right: 6px;
    color: #666666;
}

.image-container{
    box-sizing: border-box;
    width: 100%;
    height: 85vh;
    background: linear-gradient(to bottom right,#000,#585858,#002f4b,#dc4225,#585858,#002f4b,#000);
    padding: 15px 15px;
    margin-bottom: 15vh;
}

.image-content{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.hero-image {
    margin: 0;
    padding: 0;
    display: block;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.middle{
    top: 50%;
    transform: translate(-50%,-50%);
}

.quote-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20vh;
}

.text-content--quote{
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: 400;
    margin: 10vh 0;
    text-align: center;

}

.text-content--quote-name{
    font-size: .55em;
    text-transform: uppercase;
    font-weight: 400;
}

.featured-work-container {
    margin: 10vh 0;
}

.featured-work {
    font-size: 1em;
    font-family: Lato;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 600;
    color: #585858;
    margin-bottom: 10vh;
}


.works {
    margin: 0 0 5% 0;
    display: flex;
    flex: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.work-container {
    max-width: 27%;
    height: auto;
    background: linear-gradient(to bottom right,#000,#585858,#002f4b,#dc4225,#585858,#002f4b,#000);
}

.work-image {
    max-width: 100%;
    height: auto;
    transition:all 0.7s ease;
}

.work-image:hover {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}

.app-names {
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 400;
    font-family: Lato;
    text-align: center;
    color: #fff;
    letter-spacing: 1.5px;
}

.social {
    display: block;
    text-align: center;
    margin: 60px 0 30px 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.social li {
    position: relative;
    display: inline-block;
    margin: 0 0 2px 0;
    padding: 0;
    font-size: 18px;
    vertical-align: top;
    font-weight: 300;
    z-index: 5;
    margin-right: 7.5%;
}


.social li:last-child {
    margin-right: 0;
}

.social li a {
    font-family: Lato;
    text-transform: uppercase;
    text-decoration: none;
    overflow: visible;
    color: #585858;
}

.social li a:hover {
    color: teal;
    font-weight: bold;
    text-decoration: underline;
}


@media only screen and (max-width:323px)  {

    .icon-container {
        display: flex;
        justify-content: center;
        align-content: center;
        padding-top: 7px;
    }

    .text-content--title {
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 5px;
        padding-left: 5px;
        font-weight: 300;
    }

    .designation-text {
        font-family: Lato;
        font-size: 9px;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 4px;
        padding-left: 4px;
        color: #666666;
    }

    .text-content--quote {
        font-size: .5em;
        text-transform: uppercase;
        font-weight: 400;
        margin: 10vh 0;
        text-align: center;
    }

    .text-content--quote-name {
        font-size: .3em;
        text-transform: uppercase;
        font-weight: 400;
    }

    .featured-work {
        font-size: .3em;
        text-transform: uppercase;
        font-weight: 400;
        color: #585858
    }

    .app-names {
        font-size: .5em;
        text-transform: uppercase;
        font-weight: 400;
        font-family: Lato;
        text-align: center;
        color: #fff;
        letter-spacing: .5px;
    }

    .social li {
        position: relative;
        display: inline-block;
        margin: 0 0 2px 0;
        padding: 0;
        font-size: 6px;
        vertical-align: top;
        font-weight: 200;
        z-index: 5;
        margin-right: 6%;
    }


}

@media only screen and (max-width:495px)  {

    .icon-container {
        display: flex;
        justify-content: center;
        align-content: center;
        padding-top: 7px;
    }

    .text-content--title {
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 8px;
        padding-left: 8px;
        font-weight: 300;
    }

    .designation-text {
        font-family: Lato;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 8px;
        padding-left: 8px;
        color: #666666;
    }
    .image-container{
        box-sizing: border-box;
        width: 100%;
        height: 50vh;
        background: linear-gradient(to bottom right,#000,#585858,#002f4b,#dc4225,#585858,#002f4b,#000);
        padding: 15px 15px;
        margin-bottom: 15vh;
    }

    .text-content--quote {
        font-size: .7em;
        text-transform: uppercase;
        font-weight: 400;
        margin: 10vh 0;
        text-align: center;
    }

    .text-content--quote-name {
        font-size: .4em;
        text-transform: uppercase;
        font-weight: 400;
    }

    .featured-work {
        font-size: .7em;
        text-transform: uppercase;
        font-weight: 400;
        color: #585858;
        margin-bottom: 10vh;
    }

    .app-names {
        font-size: .7em;
        text-transform: uppercase;
        font-weight: 400;
        font-family: Lato;
        text-align: center;
        color: #fff;
        letter-spacing: 1px;
    }

    .social li {
        position: relative;
        display: inline-block;
        margin: 0 0 2px 0;
        padding: 0;
        font-size: 10px;
        vertical-align: top;
        font-weight: 200;
        z-index: 5;
        margin-right: 6%;
    }


}
